.chart{
  flex: 4;
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.59);
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.59);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.59);
  border-radius: 15px;
  color:gray;

  .title{
    margin-bottom: 20px;
    padding: 15px;
  }

  

}