.app.dark{
  background: rgb(31, 30, 30);
  color: rgb(231, 228, 228); 

  .chartGrid {
  stroke: rgb(228, 228, 228, 0.219);

  }
  .table{
    background: rgb(31, 30, 30);

    .tableCell{
      color: gray;
    }
  }
  .navbar{
    color:#999;
    border-color: #333;

    .search{
      border-color:gray;

    }
  }
  .sidebar{
    background-color: #111;
    border-color: #333;
    color: gray;

    .top{
      .logo {
        color: rgb(158, 38, 158);
      }
    }
    hr {
      border-color: #333;
    }
    ul {
      li {
        &:hover {
          background-color: #333;
        }
      }
    }
  }
  .datatable{
    .datagrid{
      color: gray;
      border: none;

      .viewButton, .deleteButton, .cellWithStatus {
        color:gray;
        border: none;
      }
    }
  }
  input{
    background-color: transparent;
  }
  
}

